<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="caixa">
        <div class="conteudo">
            <header>Login</header>
            <form action="#"> 
                <div class="usuario"> <!--Caixa de inserçao dos dados do usuario -->
                    <input type="text" method="post" id="dados" required="" placeholder="Insira seu Email"/>
                </div>
                <div class="senha"><!--Caixa de inserção da senha do usuário-->  
                    <input type="password" method="post" id="dados" required="" placeholder="Informe a sua Senha"/>
                </div>
                <div class="acesso"> <!--link para alteração da senha de acesso-->
                    <a href="#">Esqueceu a Senha ? Clique Aqui !!!</a>
                </div>
                <button class="acessar">Acessar</button>
            </form>    
                    
        </div>
    </div>    
</body>
</html>
