nav{
    display:flex;
    justify-content: lefth;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(158,158,158,0.6867997198879552) 0%, rgba(115,11,189,1) 50%);
    margin:5px;
    padding: 5px;
    border-radius: 3px;
    
    
}
nav a{
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: black
}
nav a:hover{
    color:white

}
.active{
    background-color: black;
    color:white;
    border-radius: 3px;
    padding: 10px;
    margin: 5px
}